
.clear{
  clear: both;
}

.form-group{
  padding: 5px 5px;


}

.field-type-input_text{
  label{
    display: block;
    color: #585858;
  }
  input{

  }
}

.field-type-input_currency{
  label{
    display: block;
    color: #585858;
  }
  input{

  }
}

.field-type-input_date{
  label{
    display: block;
    color: #585858;
    input{

    }
  }
}

.field-type-select{
  label{
    display: block;
    color: #585858;
    input{

    }
  }
}

.field-type-radio{
  .title-radio-group{
    display: block;
    color: #585858;
  }
  label{
    margin-right: 15px;
    input{
      margin-right: 10px;
    }
  }
}

.field-type-checkbox{
  label{
    color: #585858;
    input{
      margin-right: 10px;
    }
  }
}

.field-type-checkbox_group{
  .title-checkbox-group{
    display: block;
    color: #585858;
  }
  .checkbox-group-item{
    display: block;
    color: #585858;
    input{
      margin-right: 10px;
    }
  }
}

.field-type-input_datetime{
  label{
    display: block;
    color: #585858;
  }
  input{
    width: 125px;
  }
}

.form-part{
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;

  // example
  width: 400px;
  float: left;
}

// ------------
.tooltip{
  position: relative;
  .tooltip-trigger{
    color: #2F6FAD;
    border: 1px solid #2F6FAD;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }
  .tooltip-trigger-active{
    color: #ffffff;
    background: #2F6FAD;
  }
  .tooltip-content{
    width: 300px;
    padding: 10px;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    top: -40px;
    left: 20px;
  }
}



//-----------------

@import "screen";

