.clear {
  clear: both; }

.form-group {
  padding: 5px 5px; }

.field-type-input_text label {
  display: block;
  color: #585858; }

.field-type-input_currency label {
  display: block;
  color: #585858; }

.field-type-input_date label {
  display: block;
  color: #585858; }

.field-type-select label {
  display: block;
  color: #585858; }

.field-type-radio .title-radio-group {
  display: block;
  color: #585858; }
.field-type-radio label {
  margin-right: 15px; }
  .field-type-radio label input {
    margin-right: 10px; }

.field-type-checkbox label {
  color: #585858; }
  .field-type-checkbox label input {
    margin-right: 10px; }

.field-type-checkbox_group .title-checkbox-group {
  display: block;
  color: #585858; }
.field-type-checkbox_group .checkbox-group-item {
  display: block;
  color: #585858; }
  .field-type-checkbox_group .checkbox-group-item input {
    margin-right: 10px; }

.field-type-input_datetime label {
  display: block;
  color: #585858; }
.field-type-input_datetime input {
  width: 125px; }

.form-part {
  padding: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
  width: 400px;
  float: left; }

.tooltip {
  position: relative; }
  .tooltip .tooltip-trigger {
    color: #2F6FAD;
    border: 1px solid #2F6FAD;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    cursor: pointer; }
  .tooltip .tooltip-trigger-active {
    color: #ffffff;
    background: #2F6FAD; }
  .tooltip .tooltip-content {
    width: 300px;
    padding: 10px;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cccccc;
    top: -40px;
    left: 20px; }

.json_tree_wrap {
  /* Eric Meyer's Reset CSS v2.0 */ }
  .json_tree_wrap html, .json_tree_wrap body, .json_tree_wrap div, .json_tree_wrap span, .json_tree_wrap applet, .json_tree_wrap object, .json_tree_wrap iframe, .json_tree_wrap h1, .json_tree_wrap h2, .json_tree_wrap h3, .json_tree_wrap h4, .json_tree_wrap h5, .json_tree_wrap h6, .json_tree_wrap p, .json_tree_wrap blockquote, .json_tree_wrap pre, .json_tree_wrap a, .json_tree_wrap abbr, .json_tree_wrap acronym, .json_tree_wrap address, .json_tree_wrap big, .json_tree_wrap cite, .json_tree_wrap code, .json_tree_wrap del, .json_tree_wrap dfn, .json_tree_wrap em, .json_tree_wrap img, .json_tree_wrap ins, .json_tree_wrap kbd, .json_tree_wrap q, .json_tree_wrap s, .json_tree_wrap samp, .json_tree_wrap small, .json_tree_wrap strike, .json_tree_wrap strong, .json_tree_wrap sub, .json_tree_wrap sup, .json_tree_wrap tt, .json_tree_wrap var, .json_tree_wrap b, .json_tree_wrap u, .json_tree_wrap i, .json_tree_wrap center, .json_tree_wrap dl, .json_tree_wrap dt, .json_tree_wrap dd, .json_tree_wrap ol, .json_tree_wrap ul, .json_tree_wrap li, .json_tree_wrap fieldset, .json_tree_wrap form, .json_tree_wrap label, .json_tree_wrap legend, .json_tree_wrap table, .json_tree_wrap caption, .json_tree_wrap tbody, .json_tree_wrap tfoot, .json_tree_wrap thead, .json_tree_wrap tr, .json_tree_wrap th, .json_tree_wrap td, .json_tree_wrap article, .json_tree_wrap aside, .json_tree_wrap canvas, .json_tree_wrap details, .json_tree_wrap embed, .json_tree_wrap figure, .json_tree_wrap figcaption, .json_tree_wrap footer, .json_tree_wrap header, .json_tree_wrap hgroup, .json_tree_wrap menu, .json_tree_wrap nav, .json_tree_wrap output, .json_tree_wrap ruby, .json_tree_wrap section, .json_tree_wrap summary, .json_tree_wrap time, .json_tree_wrap mark, .json_tree_wrap audio, .json_tree_wrap video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0; }
  .json_tree_wrap article, .json_tree_wrap aside, .json_tree_wrap details, .json_tree_wrap figcaption, .json_tree_wrap figure, .json_tree_wrap footer, .json_tree_wrap header, .json_tree_wrap hgroup, .json_tree_wrap menu, .json_tree_wrap nav, .json_tree_wrap section {
    display: block; }
  .json_tree_wrap body {
    line-height: 1; }
  .json_tree_wrap ol, .json_tree_wrap ul {
    list-style: none; }
  .json_tree_wrap blockquote, .json_tree_wrap q {
    quotes: none; }
  .json_tree_wrap blockquote:before, .json_tree_wrap blockquote:after, .json_tree_wrap q:before, .json_tree_wrap q:after {
    content: none; }
  .json_tree_wrap table {
    border-collapse: collapse;
    border-spacing: 0; }
  .json_tree_wrap .json_tree {
    font-family: "Hevetica Neue", "Helvetica", "arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 2em; }
    .json_tree_wrap .json_tree *, .json_tree_wrap .json_tree *:before, .json_tree_wrap .json_tree *:after {
      box-sizing: border-box; }
    .json_tree_wrap .json_tree h1 {
      font-size: 36px;
      color: #666;
      margin-bottom: 32px; }
    .json_tree_wrap .json_tree li {
      padding: 2px 4px;
      letter-spacing: 1px;
      border-top: 1px dotted #ccc; }
    .json_tree_wrap .json_tree li li {
      margin-left: 16px; }
    .json_tree_wrap .json_tree label {
      display: inline-block;
      margin-right: 16px;
      color: #75756E; }
    .json_tree_wrap .json_tree ol > li > label {
      color: #ccc; }
    .json_tree_wrap .json_tree .parentNode:before {
      content: "\0025B8 \0000a0";
      color: #999;
      margin-left: -13.6px; }
    .json_tree_wrap .json_tree .parentNode.expanded:before {
      content: "\0025BE \0000a0"; }
    .json_tree_wrap .json_tree .object > span {
      color: #049977;
      font-size: 12px;
      cursor: default; }
      .json_tree_wrap .json_tree .object > span:before {
        font-size: 16px;
        font-family: inconolata, consolas, monospace;
        content: "{} "; }
    .json_tree_wrap .json_tree .object.expanded > span {
      color: #B3C0BD; }
    .json_tree_wrap .json_tree .array > span {
      color: #C042DF;
      font-size: 12px;
      cursor: default; }
      .json_tree_wrap .json_tree .array > span:before {
        font-size: 16px;
        font-family: inconolata, consolas, monospace;
        content: "[] "; }
    .json_tree_wrap .json_tree .array.expanded > span {
      color: #D7D5D8; }
    .json_tree_wrap .json_tree .string > span {
      color: #43413D; }
    .json_tree_wrap .json_tree .number > span {
      color: #0B75F5; }
    .json_tree_wrap .json_tree .boolean > span {
      color: #08C6CE;
      font-family: inconolata, consolas, monospace; }
    .json_tree_wrap .json_tree .null > span {
      color: #DF113A;
      font-family: inconolata, consolas, monospace; }
    .json_tree_wrap .json_tree footer {
      font-size: 12px;
      color: #999;
      margin-top: 48px;
      padding-top: 24px;
      border-top: 1px solid #ccc; }
    .json_tree_wrap .json_tree header {
      margin-bottom: 24px; }
    .json_tree_wrap .json_tree button {
      box-shadow: inset 0px 1px 3px 0px #91b8b3;
      background: linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
      background-color: #768d87;
      border-radius: 5px;
      border: 1px solid #566963;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: arial;
      font-size: 15px;
      font-weight: bold;
      padding: 8px 12px;
      text-decoration: none;
      text-shadow: 0px -1px 0px #2b665e; }
    .json_tree_wrap .json_tree button:hover {
      background-color: #6c7c7c;
      background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%); }

/*# sourceMappingURL=layout.css.map */
