

$mono_stack: inconolata, consolas, monospace;
$normal_font_stack: "Hevetica Neue", "Helvetica", "arial", sans-serif;
$font_size: 16px;


.json_tree_wrap{
  @import "_reset";
  .json_tree{
    font-family: $normal_font_stack;
    font-size: $font_size;
    line-height: $font_size * 1.5;
    padding: 2em;
    *, *:before, *:after {
      box-sizing: border-box;
    }

    h1 {
      font-size: 36px;
      color: #666;
      margin-bottom: $font_size * 2;
    }
    li {
      padding: 2px 4px;
      letter-spacing: 1px;
      border-top: 1px dotted #ccc;
    }
    li  li {
      margin-left: $font_size;
    }
    label {
      display: inline-block;
      margin-right: $font_size;
      color: #75756E;
    }
    ol > li > label {
      color: #ccc;
    }
    .parentNode {
      &:before {
        content: "\0025B8 \0000a0";
        color: #999;
        margin-left: -$font_size * .85;
      }
      &.expanded:before {
        content: "\0025BE \0000a0";
      }
    }

    .object > span {
      color: #049977;
      font-size: 12px;
      cursor: default;
      &:before  {
        font-size: $font_size;
        font-family: $mono_stack;
        content: "{} ";
      }
    }

    // fades back the "n Items" label when expanded.
    .object.expanded > span {
      color: #B3C0BD;
    }

    .array > span {
      color: #C042DF;
      font-size: 12px;
      cursor: default;
      &:before  {
        font-size: $font_size;
        font-family: $mono_stack;
        content: "[] ";
      }
    }

    // fades back the "n Items" label when expanded.
    .array.expanded > span {
      color: #D7D5D8;
    }

    .string >  span {
      color: #43413D;
    }
    .number > span {
      color: #0B75F5;
    }
    .boolean > span {
      color: #08C6CE;
      font-family: $mono_stack;
    }
    .null > span {
      color: #DF113A;
      font-family: $mono_stack;
    }

    footer {
      font-size: 12px;
      color: #999;
      margin-top: 48px;
      padding-top: 24px;
      border-top: 1px solid #ccc;
    }
    header {
      margin-bottom: 24px;
    }

    button {
      box-shadow:inset 0px 1px 3px 0px #91b8b3;
      background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
      background-color:#768d87;
      border-radius:5px;
      border:1px solid #566963;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:arial;
      font-size:15px;
      font-weight:bold;
      padding:8px 12px;
      text-decoration:none;
      text-shadow:0px -1px 0px #2b665e;
    }
    button:hover {
      background-color:#6c7c7c;
      background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    }

  }
}



